/.idea
/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/index.js
public/mix-manifest.json
package-lock.json
/routes/web.*
/storage/*.key
/MERGE
/vendor
/public/js/index.js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/build
.rnd
